@import url(https://fonts.googleapis.com/css?family=Exo:100);

#app
{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

body
{
    color: #999;
    font: 400 10.6666666667px exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    text-align: center;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 1.9s infinite;
    -moz-animation: bg-scrolling-reverse 1.9s infinite;
    -o-animation: bg-scrolling-reverse 1.9s infinite;
    animation: bg-scrolling-reverse 1.9s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    background-color: #DDD;
}

h1
{
    text-align: center;
}

h3
{
    margin-top: 25px;
    text-align: center;
    margin-bottom: 15px;
}

#Picture-Upload
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    font-size: 15px;
    font-weight: bold;
    color: #42b983;
}

img.Image-Preview
{
    height: 500px;
    width: 500px;
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px -1px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 18px 0px rgba(0,0,0,0.75);
}

::selection
{
    color: #42b983;
}

#Button-Remove-Exif
{
    cursor: pointer;
    background-color: #42b983;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#Button-Remove-Exif
{
    outline: none;
    box-shadow: none;
}

#Preview-Box
{
    width: 800px;
    height: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#Download-Link
{
    text-decoration: none;
}

#Message-Received
{
    font-weight: bold;
    margin-top: -3px;
    text-align: center;
    color: #2c3e50;
    margin-bottom: -10px;
}

@-webkit-keyframes bg-scrolling-reverse
{
    100%
    {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling-reverse
{
    100%
    {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling-reverse
{
    100%
    {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling-reverse
{
    100%
    {
        background-position: 50px 50px;
    }
}

@-webkit-keyframes bg-scrolling
{
    0%
    {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling
{
    0%
    {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling
{
    0%
    {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling
{
    0%
    {
        background-position: 50px 50px;
    }
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
    background: #42b983;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover
{
    background: #42b983;
}